body {
    font-family: 'Open Sans Condensed', serif;
    padding: 20px 40px;
    background-image: url('./assets/argyle-pattern-green-white2.png');
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  


