.preview-collection {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title {
        font-size: 28px;
        margin: 0 auto 25px;
        background-color: white;
        opacity: .9;
    }

    .preview {
        display: flex;
        justify-content: space-between;
    }
}